.menu-container
{
  padding: 10% 1em;
}

.btn-dash-menu
{
  margin-top: 1em;
}

.dash-menu-box
{
  text-align: center;
}

.dash-menu-icon
{
  font-size: 75px;
  margin: 5% 0 10% 0;
}

.dash-diensten
{
  margin-top: -2%;
}

.dash-diensten i
{
  margin-bottom: 20%;
}
